body {
    margin: 0;
    padding: 0;
    background-image: url("https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/337626544_218770790738173_1518254216791776993_n.png?stp=dst-png_p1080x2048&_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGNdrXGtXSUpO77zgkGtCum4zZHAjiyyEnjNkcCOLLISeW0LGxk7uBp0jdAHDGO3yV3S3-shNR6Kcu4yCqCiQp0&_nc_ohc=dNzvHnJCdrcAX_CAypA&_nc_ht=scontent-lax3-1.xx&oh=03_AdQwu6BqVMOdfnKfV9CxiKThiGXoVucwxXHl6sYjGG-iew&oe=6487A851");
    background-size: cover; 
    font-family: sans-serif;
    height: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.login-box {
    width: 420px;
    height: 720px;
    background: rgba(0, 0, 0, .80);
    backdrop-filter: blur(10px);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius:30px; 
    padding: 90px 60px;
    
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 2.5em;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="text"],
.login-box input[type="text"],
.login-box input[type="password"] {
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #b80f22;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    border-radius:30px; 
}

.login-box a{
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.login-box a:hover{
    text-decoration: underline;
}

hr.margin-40[data-v-21685d1f]{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

hr[data-v-21685d1f] {
    border-color: var(--page-font-color);
    opacity: .15;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

span{
    font-size: 20px;
}

.Register[type="submit"]{
    margin: 1em 0;
    border: none;
    outline: none;
    height: 40px;
    background-color: #b80f22;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    border-radius:30px; 
}

